<<<<<<< HEAD
h1{
    background-color: cadetblue;
    color: aliceblue;
    margin-top: 0px;
    text-align: center;
}
body{
    background-color: rgb(195, 165, 223);
    color: white;
}
ul li{
    list-style-type:square;
=======
h1{
    background-color: cadetblue;
    color: aliceblue;
    margin-top: 0px;
    text-align: center;
}
body{
    background-color: rgb(195, 165, 223);
    color: white;
}
ul li{
    list-style-type:square;
>>>>>>> d7bb0b9a7aa6dceb115fb55164b6da4a628086bc
}